---
layout: base.njk
permalink: /categories/
title: Categories
---
<div class="list-page">
  <h1>Categories</h1>
  <div class="group-list">
    {% for c in collections.categoryList %}
      <a href="/category/{{ c | slug }}/" class="group-item">🗂 {{ c }}</a>
    {% endfor %}
  </div>
</div>
