---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author }}</name>
  </author>
  {% for post in collections.posts | reverse | limit(20) %}
    {% set absUrl = post.url | absoluteUrl(site.url) %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absUrl }}"/>
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <id>{{ absUrl }}</id>
      <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absUrl) | safe }}</content>
    </entry>
  {% endfor %}
</feed>
